<!-- =====  BANNER STRAT  ===== -->


<div class="banner section">
  <div class="main-banner owl-carousel owl-loaded owl-drag">


    <div class="owl-stage-outer">
      <div class="owl-stage"
        style="transform: translate3d(-1263px, 0px, 0px); transition: all 0s ease 0s; width: 2527px;">
        <div class="owl-item" style="width: 1263.33px;">
          <div class="item"><a href="#"><img src="../../../assets/image2/11686029329.jpg" alt="Main Banner"
                class="img-responsive"></a></div>
        </div>
        <div class="owl-item active" style="width: 1263.33px;">
          <div class="item"><a href="#"><img src="../../../assets/image2/11686029329.jpg" alt="Main Banner" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <div class="owl-prev">prev</div>
      <div class="owl-next disabled">next</div>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
</div>










<!-- <div class="banner section">
  <div class="main-banner owl-carousel">
    <div class="item"><a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Main Banner" class="img-responsive" /></a></div>
    <div class="item"><a href="#"><img src="../../../assets/image2/11686029329.jpg" alt="Main Banner"
          class="img-responsive" /></a></div>
  </div>
</div> -->
<!-- =====  BANNER END  ===== -->

<!-- =====  CONTAINER START  ===== -->
<div class="container">
  <!-- =====  SUB BANNER  STRAT ===== -->


  <div class="subbanner-section section mt-20">
    <div class="owl-carousel banner-carousel owl-loaded owl-drag">



      <div class="owl-stage-outer">
        <div class="owl-stage"
          style="/* transform: translate3d(0px, 0px, 0px); *//* transition: all 0s ease 0s; */width: 1755px;">
          <div class="owl-item active" style="width: 585px;">
            <div class="home-subbanner">
              <div class="home-img"><a href="#"><img class="leftbanner" src="../../../assets/image2/11686029329.jpg"
                    alt="sub-banner1"></a></div>
              <div class="cms-desc">
                <div class="cms-text1">Get <b>Chana Dal</b></div>
                <div class="cms-text2">@ 20$</div>
                <div class="cms-text3">Shop for $ 500</div>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 585px;">
            <div class="home-subbanner">
              <div class="home-img"><a href="#"><img class="leftbanner" src="../../../assets/image2/11686029329.jpg"
                    alt="sub-banner1"></a></div>
              <div class="cms-desc">
                <div class="cms-text1">Get <b>California RED</b></div>
                <div class="cms-text2">@ 12$</div>
                <div class="cms-text3">Shop for $ 200</div>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 585px;">
            <div class="home-subbanner">
              <div class="home-img"><a href="#"><img class="leftbanner" src="../../../assets/image2/11686029329.jpg"
                    alt="sub-banner1"></a></div>
              <div class="cms-desc">
                <div class="cms-text1">Get <b>Chana dal</b></div>
                <div class="cms-text2">@ 20$</div>
                <div class="cms-text3">Shop for $ 500</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <div class="owl-prev">prev</div>
        <div class="owl-next">next</div>
      </div>
      <div class="owl-dots">
        <div class="owl-dot active"><span></span></div>
        <div class="owl-dot"><span></span></div>
      </div>
    </div>
  </div>







  <!-- <div class="subbanner-section section mt-20">
          <div class="owl-carousel banner-carousel">
            <div class="home-subbanner">
              
              <div class="cms-desc">
                <div class="cms-text1">Get <b>Chana Dal</b></div>
                <div class="cms-text2">@ 20$</div>
                <div class="cms-text3">Shop for $ 500</div>
              </div>
            </div>
            <div class="home-subbanner">
              <div class="home-img"><a href="#"><img class="leftbanner" src="../../../assets/image2/11686029603.jpg" alt="sub-banner1"></a></div>
              <div class="cms-desc">
                <div class="cms-text1">Get <b>California RED</b></div>
                <div class="cms-text2">@ 12$</div>
                <div class="cms-text3">Shop for $ 200</div>
              </div>
            </div>
            <div class="home-subbanner">
              <div class="home-img"><a href="#"><img class="leftbanner" src="../../../assets/image2/11686029603.jpg" alt="sub-banner1"></a></div>
              <div class="cms-desc">
                <div class="cms-text1">Get <b>Chana dal</b></div>
                <div class="cms-text2">@ 20$</div>
                <div class="cms-text3">Shop for $ 500</div>
              </div>
            </div>
          </div>
        </div>  -->



  <!-- =====  SUB BANNER END  ===== -->

  <!-- =====  SEARVICES START  ===== -->

  <div class="shipping-outer section">
    <div class="shipping-inner row">
      <div class="heading col-lg-3 col-12 text-center text-lg-left">
        <h2>Why choose us?</h2>
      </div>
      <div class="subtitle-part subtitle-part1 col-lg-3 col-4 text-center text-lg-left">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">On time delivery</div>
            <div class="subtitile2">15% back if not able</div>
          </div>
        </div>
      </div>
      <div class="subtitle-part subtitle-part2 col-lg-3 col-4 text-center text-lg-left">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">Free delivery</div>
            <div class="subtitile2">Order over $ 200</div>
          </div>
        </div>
      </div>
      <div class="subtitle-part subtitle-part3 col-lg-3 col-4 text-center text-lg-left">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">Quality assurance</div>
            <div class="subtitile2">You can trust us</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =====  SEARVICES END  ===== -->

  <!-- =====  PRODUCT CATEGORY START  ===== -->

  <div class="category-banner-block">
    <div class="section_title">top categories</div>
    
    <div class="row">
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="#">Del Monte Beets</a></h4>
          </div>
          <div class="image" routerLink="/category"><img src="../../../assets/image2/11645203608.jpg"
                alt="Del Monte Beets" title="Del Monte Beets" class="img-responsive"></div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="category_page.html">Veggies</a></h4>
          </div>
          <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                alt="Veggies" title="Veggies" class="img-responsive"></a></div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="category_page.html">Del Monte Corn</a></h4>
          </div>
          <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                alt="Del Monte Corn" title="Del Monte Corn" class="img-responsive"></a></div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="category_page.html">Riced cauliflower</a></h4>
          </div>
          <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                alt="Riced cauliflower" title="Riced cauliflower" class="img-responsive"></a></div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="category_page.html">Veggies Bowl</a></h4>
          </div>
          <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                alt="Veggies Bowl" title="Veggies Bowl" class="img-responsive"></a></div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="product-thumb transition text-center">
          <div class="caption categoryname">
            <h4><a href="category_page.html">Green peas | Carrots</a></h4>
          </div>
          <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                alt="Green peas | Carrots" title="Green peas | Carrots" class="img-responsive"></a></div>
        </div>
      </div>
    </div>
  </div>

  <!-- =====  PRODUCT CATEGORY END  ===== -->

  <!-- =====  PRODUCT section  ===== -->





  <div class="category_product section">
    <div class="row">
      <div class="col-12">
        <div class="section_title">Fruits store</div>
      </div>
      <div class="col-sm-3 productcategory_thumb text-center mb-15"> <img src="../../../assets/image2/11645203608.jpg"
          alt="" title="" class="img-thumbnail"> </div>
      <div class="col-sm-9 right_block">
        <div class="row">
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">11<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Apple</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Apple" title="Apple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">20<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Strawberry</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Strawberry" title="Strawberry" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">Pineapple</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Pineapple" title="Pineapple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">Banana</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Banana" title="Banana" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">Orange</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Orange" title="Orange" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">10<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Greps</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Greps" title="Greps" class="img-thumbnail"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="btn btn-primary viewall"><a href="../../../assets/image2/11645203608.jpg">View All</a></div>
      </div>
    </div>
  </div>






  <!-- <div class="category_product section">
    <div class="row">
      <div class="col-12">
        <div class="section_title">Fruits store</div>
      </div>
      <div class="col-sm-3 productcategory_thumb text-center mb-15"> <img src="../../../assets/image2/11645203608.jpg"
          alt="" title="" class="img-thumbnail"> </div>
      <div class="col-sm-9 right_block">
        <div class="row">
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">11<br>
                % <br>
                <i>off</i>
              </p>
              <h4><a href="category_page.html">Apple</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Apple" title="Apple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">20<br>
                % <br>
                <i>off</i>
              </p>
              <h4><a href="category_page.html">Strawberry</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Strawberry" title="Strawberry" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <h4><a href="category_page.html">Pineapple</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Pineapple" title="Pineapple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <h4><a href="category_page.html">Banana</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Banana" title="Banana" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <h4><a href="category_page.html">Orange</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Orange" title="Orange" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">10<br>
                % <br>
                <i>off</i>
              </p>
              <h4><a href="category_page.html">Greps</a></h4>
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Greps" title="Greps" class="img-thumbnail"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="btn btn-primary viewall"><a href="category_page.html">View All</a></div>
      </div>
    </div>
  </div> -->

  <!-- =====  featured section  ===== -->


  <div class="featured_product section mt-30">
    <div class="row">
      <div class="col-12">
        <div class="section_title">Featured Products</div>
      </div>
      <div class="section-product grid section">
        <div class=" product-items col-6 col-sm-4 col-md-4 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a> </div>
              <div class="swap_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a></div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4><a href="product_detail_page.html">pure-spice-3</a></h4>
                <p class="price">$7.25<span class="price-tax">Ex Tax: $7.25</span></p>
                <div class="product_option">
                  <div class="form-group required ">
                    <select name="option[239]" id="input-option230" class="form-control">
                      <option value=""> --- Please Select --- </option>
                      <option value="45">1kg(+$0.07)</option>
                      <option value="46">5kg(+$0.22)</option>
                      <option value="47">10kg(+$0.44)</option>
                    </select>
                  </div>
                  <div class="input-group button-group">
                    <label class="control-label">Qty</label>
                    <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                    <button type="button" class="addtocart pull-right">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" product-items col-6 col-sm-4 col-md-4 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a> </div>
              <div class="swap_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a></div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4><a href="product_detail_page.html">Orange</a></h4>
                <p class="price">$7.25<span class="price-tax">Ex Tax: $7.25</span></p>
                <div class="product_option">
                  <div class="form-group required ">
                    <select name="option[239]" id="input-option239" class="form-control">
                      <option value=""> --- Please Select --- </option>
                      <option value="45">1kg(+$0.07)</option>
                      <option value="46">5kg(+$0.22)</option>
                      <option value="47">10kg(+$0.44)</option>
                    </select>
                  </div>
                  <div class="input-group button-group">
                    <label class="control-label">Qty</label>
                    <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                    <button type="button" class="addtocart pull-right">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" product-items col-6 col-sm-4 col-md-4 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a> </div>
              <div class="swap_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a></div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4><a href="product_detail_page.html">Apple</a></h4>
                <p class="price">$7.25<span class="price-tax">Ex Tax: $7.25</span></p>
                <div class="product_option">
                  <div class="form-group required ">
                    <select name="option[239]" id="input-option231" class="form-control">
                      <option value=""> --- Please Select --- </option>
                      <option value="45">1kg(+$0.07)</option>
                      <option value="46">5kg(+$0.22)</option>
                      <option value="47">10kg(+$0.44)</option>
                    </select>
                  </div>
                  <div class="input-group button-group">
                    <label class="control-label">Qty</label>
                    <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                    <button type="button" class="addtocart pull-right">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" product-items col-6 col-sm-4 col-md-4 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a> </div>
              <div class="swap_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a></div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4><a href="product_detail_page.html">Strawberry</a></h4>
                <p class="price">$7.25<span class="price-tax">Ex Tax: $7.25</span></p>
                <div class="product_option">
                  <div class="form-group required ">
                    <select name="option[239]" id="input-option232" class="form-control">
                      <option value=""> --- Please Select --- </option>
                      <option value="45">1kg(+$0.07)</option>
                      <option value="46">5kg(+$0.22)</option>
                      <option value="47">10kg(+$0.44)</option>
                    </select>
                  </div>
                  <div class="input-group button-group">
                    <label class="control-label">Qty</label>
                    <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                    <button type="button" class="addtocart pull-right">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" product-items col-6 col-sm-4 col-md-4 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a> </div>
              <div class="swap_image"> <a href="product_detail_page.html"> <img
                    src="../../../assets/image2/11645203608.jpg" alt="pure-spice-3" title="pure-spice-3"
                    class="img-responsive"> </a></div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4><a href="product_detail_page.html">Lentilles</a></h4>
                <p class="price">$7.25<span class="price-tax">Ex Tax: $7.25</span></p>
                <div class="product_option">
                  <div class="form-group required ">
                    <select name="option[239]" id="input-option233" class="form-control">
                      <option value=""> --- Please Select --- </option>
                      <option value="45">1kg(+$0.07)</option>
                      <option value="46">5kg(+$0.22)</option>
                      <option value="47">10kg(+$0.44)</option>
                    </select>
                  </div>
                  <div class="input-group button-group">
                    <label class="control-label">Qty</label>
                    <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                    <button type="button" class="addtocart pull-right">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- =====  featured section end ===== -->


  <div class="category_product section category_product2 mt-30">
    <div class="row">
      <div class="col-12">
        <div class="section_title">Grocery & Staples</div>
      </div>
      <div class="col-sm-9 left_block">
        <div class="row">
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">11<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Clasic cioclato</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Apple" title="Apple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">20<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Lentilles</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Strawberry" title="Strawberry" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">Bikano shahi</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Pineapple" title="Pineapple" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">pure-spice-3</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Banana" title="Banana" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <!-- <h4><a href="category_page.html">il-tuo-espresso</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Orange" title="Orange" class="img-thumbnail"></a></div>
            </div>
          </div>
          <div class="product-layout col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="product-thumb transition">
              <p class="tag">10<br>
                % <br>
                <i>off</i>
              </p>
              <!-- <h4><a href="category_page.html">Bladen</a></h4> -->
              <div class="image"><a href="category_page.html"><img src="../../../assets/image2/11645203608.jpg"
                    alt="Greps" title="Greps" class="img-thumbnail"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 productcategory_thumb right_block text-center mb-15"> <img
          src="../../../assets/image2/11645203608.jpg" alt="" title="" class="img-thumbnail"> </div>

      <div class="col-sm-12 text-center">
        <div class="btn btn-primary viewall"><a href="category_page.html">View All</a></div>
      </div>
    </div>
  </div>

  <!-- =====  PRODUCT section  END ===== -->

  <!-- =====  Brand start ===== -->



  <div id="brand_carouse" class="section text-center mt-30 pb-15">
    <div class="row">
      <div class="col-12">
        <div class="section_title">Our Popular Brands</div>
      </div>
      <div class="col-sm-12">
        <div class="brand owl-carousel owl-loaded owl-drag">









          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-2730px, 0px, 0px); transition: all 0.25s ease 0s; width: 4095px;">
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Disney" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Dell" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Harley" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Disney" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Dell" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Harley" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 195px;">
                <div class="product-thumb">
                  <div class="item text-center"> <a href="#"><img src="../../../assets/image2/11686029329.jpg"
                        alt="Canon" class="img-responsive"></a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
  </div>






  <!-- <div id="brand_carouse" class="section text-center mt-30 pb-15">
          <div class="row">
            <div class="col-12">
              <div class="section_title">Our Popular Brands</div>
            </div>
            <div class="col-sm-12">
              <div class="brand owl-carousel">
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Disney" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Dell" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Harley" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
                <div class="product-thumb"><div class="item text-center"> <a href="#"><img src="../../../assets/image2/11645203608.jpg" alt="Canon" class="img-responsive" /></a> </div></div>
              </div>
            </div>
          </div>
        </div>  -->


  <!-- =====  Brand end ===== -->



</div>
<!-- =====  CONTAINER END  ===== -->