<ul id="g-menu-items" class="nav navbar-nav main-navigation" style="display: none;">  <li class="main_cat dropdown  active ">
    <a href="javascript:void(0)">Fruits &amp; Vegetables</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Fruits</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/apple">Apple</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/banana">Banana</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/mango">Mango</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/oranges-and-sweet-lime">Oranges and Sweet lime</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/other-fruits">Other Fruits</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/fruits-vegetables/fruits1641287424/exotic-vegetables">Exotic Vegetables</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Grocery &amp; Staples</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Pet Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/dry-fruits1641288258/cashews">Cashews</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/dry-fruits1641288258/other-dry-fruits">Other Dry Fruits</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/dry-fruits1641288258/raisins">Raisins</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/dry-fruits1641288258">Dates</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/dry-fruits1641288258">Almond</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Edible Oil &amp; Ghee</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/ghee">Ghee</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/groundnut-oils">Groundnut Oils</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/olive-oils">Olive Oils</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/soya-oils">Soya Oils</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/sunflower-oils">Sunflower Oils</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433/vanaspati">Vanaspati</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/edible-oil-ghee1641288433">Others Oil</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Flours</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/flours1641288538/besan">Besan</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/flours1641288538/maida">Maida</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/flours1641288538/other-flours">Other Flours</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/flours1641288538/sooji-rava">Sooji &amp; Rava</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/flours1641288538/wheat-flour">Wheat Flour</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Pulses</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/chaana-dal">Chaana Dal</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/moong-dal">Moong Dal</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/other-dals">Other Dals</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/raw-peanuts">Raw Peanuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/soya-products">Soya Products</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/toor-dal">Toor Dal</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/pulses1641288874/urad-dal">Urad Dal</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Salt &amp; Sugar</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/salt-sugar1641289403/jaggery">Jaggery</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/salt-sugar1641289403/salt">Salt</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/salt-sugar1641289403/sugar">Sugar</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/salt-sugar1641289403/sugar-cubes">Sugar Cubes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/salt-sugar1641289403/sugar-free">Sugar Free</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Spices</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/spices1641289490/cooking-paste">Cooking paste</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/spices1641289490/powedered-spices">Powedered Spices</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/spices1641289490/ready-masalas">Ready Masalas</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/spices1641289490/whole-spices">Whole Spices</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Rice Variants</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/grocery-ataples/rice-variants1643448748/avalakki-poha">Avalakki / Poha</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Household</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">cleaning accessories</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/brooms">Brooms</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/brushes-and-scurbbers">Brushes And Scurbbers</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/cleanin-dust-cloth">Cleanin &amp; Dust Cloth</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/toilet-brushes">Toilet Brushes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/wiper">Wiper</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/wipes-and-tissues">Wipes and Tissues</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/cloths-washing-bars">Cloths Washing Bars</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/cloth-washing-powders">Cloth Washing Powders</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/liquid-detegents">Liquid Detegents</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/cleaning-accessories1641289810/whitner-stain-remover">Whitner &amp; Stain Remover</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Detergents And Bars</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/datergents-and-bars1641290148/dishwash-bars">Dishwash Bars</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/datergents-and-bars1641290148/cloth-washing-bars">Cloth Washing Bars</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/datergents-and-bars1641290148">Cloth Washing Powder</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/datergents-and-bars1641290148/liquid-detergent">Liquid Detergent</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Electrical Filtering And Acccessories</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/electrical-flitering-and-acccessories1641290542/torch-batteries">Torch &amp; Batteries</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Packing &amp; Foils</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/packing-foils1641290607/aluminium-foils">Aluminium Foils</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/packing-foils1641290607/disposeble-plates-and-glasses">Disposeble Plates And Glasses</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/packing-foils1641290607/toothpic">Toothpic</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Pooja Items</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/pooja-items1641290958/agarbatti">Agarbatti</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/pooja-items1641290958/candles">Candles</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/pooja-items1641290958/dhoopbatti-kapoor">Dhoopbatti &amp; Kapoor</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/pooja-items1641290958/match-boxes">Match Boxes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/pooja-items1641290958/prasad">Prasad</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Shoe Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/shoe-care1641291002/shoe-polish">Shoe Polish</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Stationery Items</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/household/stationery-items1641291206/office-stationery">Office Stationery</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/household/stationery-items1641291206/school-stationery">School Stationery</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Beverages</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Energy And Health Drinks</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/energy-drinks">Energy Drinks</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/hea-lth-drinks">Health Drinks</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Dish Washing</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/dish-washing1641290474/whitener-stain-remover">Whitener &amp; Stain Remover</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/dish-washing1641290474">Scrub and Pad</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/dish-washing1641290474/dish-wash-bars">Dish Wash Bars</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Pet Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/beverages/pet-care1641290683/pet-food">Pet Food</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Personal Care</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Baby Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/baby-care-accessories">Baby Care Accessories</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/baby-cream-lotion">Baby Cream &amp; Lotion</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/baby-oil-shampoos">Baby Oil &amp; Shampoos</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/baby-powdar">Baby Powdar</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/baby-soap">Baby Soap</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/baby-care1641289136/diapers-wipes">Diapers &amp; Wipes</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Deos and Perfumes</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/deos-and-perfumes1641289361/mens-deo-body-spray">Mens Deo &amp; Body Spray</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/deos-and-perfumes1641289361/mens-perfumes">Mens Perfumes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/deos-and-perfumes1641289361/womens-deo-body-spray">Womens Deo &amp; Body Spray</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/deos-and-perfumes1641289361/womens-perfume">Womens Perfume</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Hair Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/hair-care1641289457/hari-conditioner">Hair Conditioner</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/hair-care1641289457/hair-gel">Hair Gel</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/hair-care1641289457/hair-oil">Hair Oil</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/hair-care1641289457/hair-removre">Hair Removre</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/hair-care1641289457/shampoo">Shampoo</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Health Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/health-care1641289569/antiseptics">Antiseptics</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/health-care1641289569/cotton-bandages">Cotton &amp; Bandages</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/health-care1641289569/energy-powders">Energy Powders</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/health-care1641289569/health-supplements">Health Supplements</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/health-care1641289569/pain-relivers">Pain Relivers</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Oral Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/oral-care1641290101/mouthwash">Mouthwash</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/oral-care1641290101/tooth-powder">Tooth Powder</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/oral-care1641290101/toothbrush">Toothbrush</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/oral-care1641290101/toothpaste">Toothpaste</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Personal Hygiene</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/personal-hygiene1641290179/face-wash">Face Wash</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/personal-hygiene1641290179/hand-sanitizer">Hand Sanitizer</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/personal-hygiene1641290179/hand-wash">Hand Wash</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/personal-hygiene1641290179/liquid-soaps">Liquid Soaps</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/personal-hygiene1641290179/soap-bars">Soap Bars</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Plastic Items</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/plastic-items1641290890/baskets-and-tubs">Baskets and Tubs</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/plastic-items1641290890/bottles-mugs">Bottles &amp; Mugs</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/plastic-items1641290890/mugs">Mugs</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/plastic-items1641290890/other-plastic-items">Other Plastic Items</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Sanitary Pads Needs</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/sanitary-needs1641291414/sanitary-pads">Sanitary Pads</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Shaving Needs</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/shaving-needs1641291711/after-shave-lotions">After Shave Lotions</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/shaving-needs1641291711/shaving-blade-razors">Shaving Blade &amp; Razors</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/shaving-needs1641291711/shaving-cream-foam-gels">Shaving Cream Foam &amp; Gels</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Skin Care</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/bleach">Bleach</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/baby-oil">Nail Polish</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/face-cream">Face Cream</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/face-packs-scrubs">Face Packs &amp; Scrubs</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/lip-care">Lip Care</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/moistuizers-and-lotions">Moistuizers And Lotions</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/personal-care/skin-care1641291811/talc-and-powder">Talc And Powder</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Dairy &amp; Bread</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Bread &amp; Bakery</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/bread-bakery1641292163/cakes">Cakes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/bread-bakery1641292163/muffins-rusk-hyand-made">Muffins, Rusk &amp; Hand Made</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/bread-bakery1641292163/pav-buns">Pav &amp; Buns</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Dairy Products</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/butter-creame">Butter &amp; Creame</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/cheese">Cheese</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/condenesed-milk-and-whitners">Condenesed Milk And Whitners</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/curd-yogurt-lassi">Curd, Yogurt &amp; Lassi</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/flavourad-milk">Flavourad Milk</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/ice-crems-desserts">Ice creams &amp; Desserts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/packed-milk">Packed Milk</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/dairy-paoducts1641292261/panner-tofu">Panner &amp; Tofu</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Bread &amp; Bakery</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/dairybread/bread-bakery1643361076/breads">Breads</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  <li class="main_cat dropdown ">
    <a href="javascript:void(0)">Branded Foods</a>
    <div class="dropdown-menu megamenu column4">
      <div class="dropdown-inner d-flex flex-wrap">  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown  active ">
            <a href="javascript:void(0)">Baby Food</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruits1641286873/baby-food-and-cereals">Baby Food and Cereals</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Stationery Items</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruit-drinks-and-juices1641288514/concentrates">Concentrates</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruit-drinks-and-juices1641288514/mango-juices">Mango Juices</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruit-drinks-and-juices1641288514/mix-fruit">Mix Fruit</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruit-drinks-and-juices1641288514/other-flavours">Other Flavours</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/fruit-drinks-and-juices1641288514">Syrup and Squash</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Packaged Drinking Water</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/packaged-drinking-water1641288673/mineral-water">Mineral Water</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Soft Drinks</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/soft-drinks1641288861/cola-flavour">Cola flavour</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/soft-drinks1641288861/lemon-flavour">lemon flavour</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/soft-drinks1641288861/orange-flavour">Orange Flavour</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/soft-drinks1641288861/other-flavour">Other Flavour</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Tea and Coffee</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/tea-and-coffee1641289020/coffee">Coffee</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/tea-and-coffee1641289020/green-tea">Green Tea</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/tea-and-coffee1641289020/tea">Syrups &amp; Squashes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/tea-and-coffee1641289020/tea-bags">Tea Bags</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Baking and Dessert Items</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/baking-and-dessert-items1641292923/baking-ingrediants">Baking Ingrediants</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/baking-and-dessert-items1641292923/custurd-powder-and-jelly">Custurd Powder And Jelly</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/baking-and-dessert-items1641292923">Ready baking mix</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Indian and Sweets</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/indian-and-sweets1641292996/rasagulla-gulab-jamun">Rasagulla &amp; Gulab Jamun</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Biscuits &amp; cookies</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/biscuits-cookies1641293035/creame-biscuts">Creame Biscuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/biscuits-cookies1641293035/glucose-marie-milk-biscuts">Glucose , Marie &amp; Milk Biscuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/biscuits-cookies1641293035/healthy-digestive-biscuts">Healthy &amp; Digestive Biscuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/biscuits-cookies1641293035/salty-biscuts">Salty Biscuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/biscuits-cookies1641293035/wafers">Wafers</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Breakfast Cereals</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/breakfast-cereals1641293089/chocaos">Chocaos</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/breakfast-cereals1641293089/oats">Oats</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/breakfast-cereals1641293089">Flakes</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Jams And Spread</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/jams-and-spread1641293195/chees-spread-and-maynose">Chees Spread And Maynose</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/jams-and-spread1641293195/honey">Honey.</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/jams-and-spread1641293195/marmalalade">Marmalalade</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/jams-and-spread1641293195/mixed-fruit-jam">Mixed Fruit Jam</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/jams-and-spread1641293195/other-jam-flavours">Other Jam Flavours</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Chocolates Candies And Sweets</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/chocolates-candies-and-sweets1641293295/chewing-gums">Chewing Gums</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/chocolates-candies-and-sweets1641293295/chocolates">Chocolates</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/chocolates-candies-and-sweets1641293295/festive-gift-pack">Festive Gift Pack</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/chocolates-candies-and-sweets1641293295/mouth-freshner">Mouth Freshner</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/chocolates-candies-and-sweets1641293295/toffeees-and-candies">Toffeees And Candies</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Gifts And Sweets</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/gifts-and-sweets1641293393/gift-packs-and-cadbury">Gift Packs And Cadbury</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/gifts-and-sweets1641293393/gift-packs-from-haldiram">Gift Packs From Haldiram</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Noodles Macroni And Pasta</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/noodles-macroni-and-pasta1641293410/instant-noodles">Instant Noodles</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/noodles-macroni-and-pasta1641293410/macroni">Macroni</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/noodles-macroni-and-pasta1641293410/pasta">Pasta</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/noodles-macroni-and-pasta1641293410/vermicelli-sewaiyan">Vermicelli &amp; Sewaiyan</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Pickles</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/pickles1641293848/lime-pickels">Lime Pickels</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/pickles1641293848/mango-mpickles">Mango Mpickles</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/pickles1641293848/mix-pickles">Mix Pickles</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/pickles1641293848/other-piuckles">Other Piuckles</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Ready To Eat And Cook</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/ready-to-eat-and-cook1641293936/frozen-food">Frozen Food</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/ready-to-eat-and-cook1641293936/papad-and-fryums">Papad And Fryums</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/ready-to-eat-and-cook1641293936/ready-mix">Ready Mix</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/ready-to-eat-and-cook1641293936/soups">Soups</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/ready-to-eat-and-cook1641293936/south-indian-mix">South Indian Mix</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Sauces And Ketchup</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/sauces-and-ketchup1641294016/chilli-soya-sauces">Chilli &amp; Soya Sauces</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/sauces-and-ketchup1641294016/cooking-sauce">Cooking Sauce</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/sauces-and-ketchup1641294016/other-sauce">Other Sauce</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/sauces-and-ketchup1641294016/tommato-sauce-ketchup">Tommato Sauce &amp; Ketchup</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  <ul class="list-unstyled childs_1">
          <!-- 2 Level Sub Categories START -->
          <li class="dropdown ">
            <a href="javascript:void(0)">Veg Snacks</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled childs_2">  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/ready-baking-mixes">Ready Baking Mixes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/flakes">Flakes</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/vinegar">Vinegar</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/chips-and-wafers">Chips And Wafers</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/corn-snacks-and-popcorn">Corn Snacks And Popcorn</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/falhari-namkeen">Falhari Namkeen</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/kurkure">Kurkure</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/other-veg-snacks">Other Veg Snacks</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/snacky-nuts">Snacky Nuts</a>
                  </li>  <li class="active">
                    <a href="https://pbrsmart.com/category/branded-foods/veg-snacks1641294080/sev-mixtures">Sev &amp; Mixtures</a>
                  </li>  </ul>
              </div>
            </div>
          </li>
          <!-- 2 Level Sub Categories END -->
        </ul>  </div>
    </div>
  </li>  </ul>
