<!-- =====  BREADCRUMB STRAT  ===== -->
<div class="breadcrumb section pt-60 pb-60">
  <div class="container">
    <h1 class="uppercase">Branded Foods</h1>
    <ul>
      <li><a href=""><i class="fa fa-home"></i></a></li>
      <li class="active">Branded Foods</li>
    </ul>
  </div>
</div>


<div class="subbanner-section section mt-20">
  <div class="owl-carousel banner-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage"></div>
    </div>
    <div class="owl-nav disabled">
      <div class="owl-prev">prev</div>
      <div class="owl-next">next</div>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
</div>





<!-- =====  BREADCRUMB END===== -->

<!-- =====  CONTAINER START  ===== -->

<div class="container">
  <div class="row">
    <div id="column-left" class="col-lg-3 col-xl-3 col-sm-4">
      <div id="category-menu" class="mb-30 mt-10">
        <div class="nav-responsive">
          <div class="heading-part">
            <h3 class="section_title">Product Category</h3>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="heading0">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse0"
                    aria-expanded="false" aria-controls="collapse0">
                    Energy And Health Drinks
                  </a>
                </h5>
              </div>

              <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/energy-drinks">Energy
                        Drinks</a></li>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/hea-lth-drinks">Health
                        Drinks</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading1">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse1"
                    aria-expanded="false" aria-controls="collapse1">
                    Dish Washing
                  </a>
                </h5>
              </div>

              <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/dish-washing1641290474/whitener-stain-remover">Whitener
                        &amp; Stain Remover</a></li>
                    <li><a href="https://pbrsmart.com/category/beverages/dish-washing1641290474">Scrub and Pad</a></li>
                    <li><a href="https://pbrsmart.com/category/beverages/dish-washing1641290474/dish-wash-bars">Dish
                        Wash Bars</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading2">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse2"
                    aria-expanded="false" aria-controls="collapse2">
                    Pet Care
                  </a>
                </h5>
              </div>

              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a href="https://pbrsmart.com/category/beverages/pet-care1641290683/pet-food">Pet Food</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="filter left-sidebar-widget mb-50">
  <div class="heading-part my-3 ">
    <h3 class="section_title">Refinr Search</h3>
  </div>
  <div class="filter-block">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" readonly>
    </p>
    <div id="slider-range" class="my-3"></div>
    <div class="list-group">
      <div class="list-group-item mb-10">
        <label>Packet Size</label>
        <div id="filter-group1">
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> 250gm-1kg </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> 1kg-5kg </label>
          </div>
          <div class="checkbox ">
            <label>
              <input value="" type="checkbox"> 5kg-10kg</label>
          </div>
          <div class="checkbox ">
            <label>
              <input value="" type="checkbox"> 10kg OR More </label>
          </div>
        </div>
      </div>
      <div class="list-group-item mb-10">
        <label>Manufacturers</label>
        <div id="filter-group3">
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Apple (5) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Canon (0) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Hewlett-Packard (0) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox">  HTC (0) </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="left_banner left-sidebar-widget mb-50"> <a href="#"><img src="images/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div> -->
    </div>
    <div class="col-lg-9 col-xl-9 col-sm-8">
      <div class="category-page-wrapper mb-15 pb-10">
        <div class="row">
          <div class="col list-grid-wrapper Order-1">
            <div class="btn-group btn-list-grid">
              <button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
              <button type="button" id="list-view" class="btn btn-default list-view"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>






