<!-- =====  BREADCRUMB STRAT  ===== -->
<div class="breadcrumb section pt-60 pb-60">
  <div class="container">
    <h1 class="uppercase">Branded Foods</h1>
    <ul>
      <li><a href=""><i class="fa fa-home"></i></a></li>
      <li class="active">Branded Foods</li>
    </ul>
  </div>
</div>


<div class="subbanner-section section mt-20">
  <div class="owl-carousel banner-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage"></div>
    </div>
    <div class="owl-nav disabled">
      <div class="owl-prev">prev</div>
      <div class="owl-next">next</div>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
</div>





<!-- =====  BREADCRUMB END===== -->

<!-- =====  CONTAINER START  ===== -->

<div class="container">
  <div class="row">
    <div id="column-left" class="col-lg-3 col-xl-3 col-sm-4">
      <div id="category-menu" class="mb-30 mt-10">
        <div class="nav-responsive">
          <div class="heading-part">
            <h3 class="section_title">Product Category</h3>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="heading0">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse0"
                    aria-expanded="false" aria-controls="collapse0">
                    Energy And Health Drinks
                  </a>
                </h5>
              </div>

              <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/energy-drinks">Energy
                        Drinks</a></li>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/energy-and-health-drinks1641288098/hea-lth-drinks">Health
                        Drinks</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading1">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse1"
                    aria-expanded="false" aria-controls="collapse1">
                    Dish Washing
                  </a>
                </h5>
              </div>

              <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a
                        href="https://pbrsmart.com/category/beverages/dish-washing1641290474/whitener-stain-remover">Whitener
                        &amp; Stain Remover</a></li>
                    <li><a href="https://pbrsmart.com/category/beverages/dish-washing1641290474">Scrub and Pad</a></li>
                    <li><a href="https://pbrsmart.com/category/beverages/dish-washing1641290474/dish-wash-bars">Dish
                        Wash Bars</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading2">
                <h5 class="mb-0">
                  <a href="javascript:void(0)" class="collapsed w-100" data-toggle="collapse" data-target="#collapse2"
                    aria-expanded="false" aria-controls="collapse2">
                    Pet Care
                  </a>
                </h5>
              </div>

              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li><a href="https://pbrsmart.com/category/beverages/pet-care1641290683/pet-food">Pet Food</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="filter left-sidebar-widget mb-50">
  <div class="heading-part my-3 ">
    <h3 class="section_title">Refinr Search</h3>
  </div>
  <div class="filter-block">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" readonly>
    </p>
    <div id="slider-range" class="my-3"></div>
    <div class="list-group">
      <div class="list-group-item mb-10">
        <label>Packet Size</label>
        <div id="filter-group1">
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> 250gm-1kg </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> 1kg-5kg </label>
          </div>
          <div class="checkbox ">
            <label>
              <input value="" type="checkbox"> 5kg-10kg</label>
          </div>
          <div class="checkbox ">
            <label>
              <input value="" type="checkbox"> 10kg OR More </label>
          </div>
        </div>
      </div>
      <div class="list-group-item mb-10">
        <label>Manufacturers</label>
        <div id="filter-group3">
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Apple (5) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Canon (0) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox"> Hewlett-Packard (0) </label>
          </div>
          <div class="checkbox">
            <label>
              <input value="" type="checkbox">  HTC (0) </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="left_banner left-sidebar-widget mb-50"> <a href="#"><img src="images/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div> -->
    </div>
    <div class="col-lg-9 col-xl-9 col-sm-8">
      <div class="category-page-wrapper mb-15 pb-10">
        <div class="row">
          <div class="col list-grid-wrapper Order-1">
            <div class="btn-group btn-list-grid">
              <button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
              <button type="button" id="list-view" class="btn btn-default list-view"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>






<div class="product-section section">
  <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      <div class="row">
        <div class="col-12 mb-20">
          <div class="row mt_10 ">
            <div class="col-md-5">
              <div><a class="thumbnails"> <img data-name="product_image" src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg"></a></div>
              <div id="product-thumbnail" class="owl-carousel owl-loaded owl-drag">
                                
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 120px;"><div class="owl-item active" style="width: 119.542px;"><div class="item">
                  <div class="image-additional"><a class="thumbnail" href="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" data-fancybox="group1"> <img src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg"></a></div>
                </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev disabled">prev</div><div class="owl-next disabled">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div>
            </div>
            <div class="col-md-7 prodetail caption">
              <h4 data-name="product_name" class="product-name"><a href="#" title="Test Service">Test Service</a></h4>
                <div class="rating mt-5 mb-5"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-x"></i></span> </div>
                                  <s>MRP : ₹ 1</s><br>
                                      <b>₹ 1.00</b>
                                      <div align="left" style="margin-right: 10px;">
                                          <a href="#" class="badge badge-danger">0 % Off</a>
                                      </div>
                                                      <hr>
              <ul class="list-unstyled product_info my-3">
              <li>
                <input type="hidden" class="product" value="5751">
                  <label>Main Category:</label>
                  <span> <a href="#">Service Main Category</a></span></li>
                  <li>
                  <label>Sub Category:</label>
                  <span> <a href="#">Service Sub Category</a></span></li>
                  <li>
                  <label>Product_category:</label>
                  <span> <a href="#">Service Product Category</a></span></li>
                <li>
                  <label>Brand:</label>
                  <span> <a href="#">
                                              None
                                            </a></span></li>
                <li>
                  <label>Product Code:</label>
                  <span> #5751</span></li>
                <li>
                  <label>Availability:</label>
                  <span>
                                      In Stock
                                      </span>
                </li>
              </ul>
              <hr>

              <main>
                  <article>
                    <p>Test Service</p>                    </article>
                </main>
              <hr>
              <div id="product">
                  <input type="hidden" name="product" class="product" value="5751">
                <div class="form-group">
                  <div class="row">
                    <div class="Sort-by col-lg-6 col-12 mt-20">
                      <label>Sort by</label>
                      <select name="product_size" id="select-by-size" class="selectpicker form-control variant">
                        <option value=""> --- Please Select --- </option>
                                                    <option value="7130">
                                                  1
                                                  Medium
                                                  (₹ 1)
                                              </option>
                                                </select>
                    </div>
                  </div>
                </div>
                <div class="qty mt-30 form-group product-quantity">
                  <label>Qty</label>
                  <input name="quantity" class="quantity" min="1" value="1" type="number">
                </div>
                <div class="button-group mt-30">
                    <div class="addtocart add-to-cart" data-toggle="tooltip" title="" data-original-title="Add to cart">
                      <a href="javascript:void(0)">
                          <span>Add</span>
                      </a>
                  </div>
                </div>
                <div class="prodbottominfo">
                  <ul class="list-unstyled">
                    <li data-toggle="tooltip" title="" data-original-title="Worldwide Shipping">
                      <img src="https://pbrsmart.com/public/images/world.png" alt="">
                    </li>
                    <li data-toggle="tooltip" title="" data-original-title="100% Original Product">
                      <img src="https://pbrsmart.com/public/images/original.png" alt="">
                    </li>
                    <li data-toggle="tooltip" title="" data-original-title="Best Price Guaranteed">
                      <img src="https://pbrsmart.com/public/images/inquire.png" alt="">
                    </li>
                     <li data-toggle="tooltip" title="" data-original-title="COD Available in India">
                       <img src="https://pbrsmart.com/public/images/cod.png" alt="">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="heading-part text-center mb-10">
                <h3 class="section_title mt-50">Related Products</h3>

              </div> -->

              <div class="related_pro">
                <div class="product-layout related-pro owl-carousel mb-50 owl-loaded owl-drag">
                                      
                                      
                                      
                                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 702px;"><div class="owl-item active" style="width: 234px;"><div class="product-grid">

                    <div class="item">
                       <div class="product-thumb transition">
                          <div class="image">
                          <div class="first_image d-flex" style="padding: 10px 0px 0px 10px;">
                    <a href="https://pbrsmart.com/product-detail/sssslddlvsdF8mF4fnnpgdyZfoWHxAD"> <img src="https://pbrsmart.com/public/storage/product/images/jUVqXyT1TUetjbsbap6M.jpg" alt="ssssl;ddlv,sd" weight="150" height="150" title="ssssl;ddlv,sd" class="img-responsive"> </a> 
                                                                                                                </div>
                  
                  <div class="swap_image "> 
                    <a href="https://pbrsmart.com/product-detail/sssslddlvsdF8mF4fnnpgdyZfoWHxAD"> <img src="https://pbrsmart.com/public/storage/product/images/jUVqXyT1TUetjbsbap6M.jpg" alt="ssssl;ddlv,sd" title="ssssl;ddlv,sd" class="img-responsive"> </a>
                    
                  </div>
                </div>
                          <div class="product-details">
                              <div class="caption">
                                  <h4><b><a href="https://pbrsmart.com/product-detail/sssslddlvsdF8mF4fnnpgdyZfoWHxAD">ssssl;ddlv,sd</a></b></h4><br>
                                  <p>
                                                                              <s>MRP : ₹ 100</s><br>
                                      <b>₹ 100</b>
                                      </p><div align="right" style="margin-right: 10px;">
                                          <a href="#" class="badge badge-danger">0 % Off</a>
                                      </div>
                                                                          <p></p>
                                  <div class="product_option">
                                  <input type="hidden" class="product" value="5746">
                                      <div class="form-group required ">
                                          <!-- <select name="option" class="variant img-change" id="input-option232" class="form-control">old -->
                    <select name="option" id="input-option232" class="form-control img-change">
                                              <option value=""> --- Please Select --- </option>
                                                                                              <option value="7125">
                                                  1
                                                  KG
                                                  (₹ 100)
                                              </option>
                                                                                          </select>
                                          <br><br>
                                      </div>

                                      <div class="input-group button-group product-quantity">
                                          <label class="control-label">Qty</label>
                                          <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                                          <button type="button" class="addtocart pull-right">Add</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div></div><div class="owl-item active" style="width: 234px;"><div class="product-grid">

                    <div class="item">
                       <div class="product-thumb transition">
                          <div class="image">
                          <div class="first_image d-flex" style="padding: 10px 0px 0px 10px;">
                    <a href="https://pbrsmart.com/product-detail/test-service5Wp2963iz6JwYfiAyGXE"> <img src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="Test Service" weight="150" height="150" title="Test Service" class="img-responsive"> </a> 
                                                                                                                </div>
                  
                  <div class="swap_image "> 
                    <a href="https://pbrsmart.com/product-detail/test-service5Wp2963iz6JwYfiAyGXE"> <img src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="Test Service" title="Test Service" class="img-responsive"> </a>
                    
                  </div>
                </div>
                          <div class="product-details">
                              <div class="caption">
                                  <h4><b><a href="https://pbrsmart.com/product-detail/test-service5Wp2963iz6JwYfiAyGXE">Test Service</a></b></h4><br>
                                  <p>
                                                                              <s>MRP : ₹ 1</s><br>
                                      <b>₹ 1</b>
                                      </p><div align="right" style="margin-right: 10px;">
                                          <a href="#" class="badge badge-danger">0 % Off</a>
                                      </div>
                                                                          <p></p>
                                  <div class="product_option">
                                  <input type="hidden" class="product" value="5749">
                                      <div class="form-group required ">
                                          <!-- <select name="option" class="variant img-change" id="input-option232" class="form-control">old -->
                    <select name="option" id="input-option232" class="form-control img-change">
                                              <option value=""> --- Please Select --- </option>
                                                                                              <option value="7128">
                                                  1
                                                  Medium
                                                  (₹ 1)
                                              </option>
                                                                                          </select>
                                          <br><br>
                                      </div>

                                      <div class="input-group button-group product-quantity">
                                          <label class="control-label">Qty</label>
                                          <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                                          <button type="button" class="addtocart pull-right">Add</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div></div><div class="owl-item active" style="width: 234px;"><div class="product-grid">

                    <div class="item">
                       <div class="product-thumb transition">
                          <div class="image">
                          <div class="first_image d-flex" style="padding: 10px 0px 0px 10px;">
                    <a href="https://pbrsmart.com/product-detail/w0vphoabdfjdjqy5jllu"> <img src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="Test Service" weight="150" height="150" title="Test Service" class="img-responsive"> </a> 
                                                                                                                </div>
                  
                  <div class="swap_image "> 
                    <a href="https://pbrsmart.com/product-detail/w0vphoabdfjdjqy5jllu"> <img src="https://pbrsmart.com/public/storage/product/images/9Qe0Xg3AcMhC7yJhEnsO.jpg" alt="Test Service" title="Test Service" class="img-responsive"> </a>
                    
                  </div>
                </div>
                          <div class="product-details">
                              <div class="caption">
                                  <h4><b><a href="https://pbrsmart.com/product-detail/w0vphoabdfjdjqy5jllu">Test Service</a></b></h4><br>
                                  <p>
                                                                              <s>MRP : ₹ 1</s><br>
                                      <b>₹ 1</b>
                                      </p><div align="right" style="margin-right: 10px;">
                                          <a href="#" class="badge badge-danger">0 % Off</a>
                                      </div>
                                                                          <p></p>
                                  <div class="product_option">
                                  <input type="hidden" class="product" value="5751">
                                      <div class="form-group required ">
                                          <!-- <select name="option" class="variant img-change" id="input-option232" class="form-control">old -->
                    <select name="option" id="input-option232" class="form-control img-change">
                                              <option value=""> --- Please Select --- </option>
                                                                                              <option value="7130">
                                                  1
                                                  Medium
                                                  (₹ 1)
                                              </option>
                                                                                          </select>
                                          <br><br>
                                      </div>

                                      <div class="input-group button-group product-quantity">
                                          <label class="control-label">Qty</label>
                                          <input type="number" name="quantity" min="1" value="1" step="1" class="qty form-control">
                                          <button type="button" class="addtocart pull-right">Add</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev disabled">prev</div><div class="owl-next disabled">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  <!-- =====  CONTAINER END  ===== -->
  </div>